
<h1>Automated Plane Fly-Over List for <%= current_day.strftime("%F") %></h1>

The following planes are listed:
<ul>
	<li> They need to be present on the ADS-B data feed. (Most planes are, but sometimes Surf Air and smaller planes do not.) </li>
	<li> Their closest point needs to be within 3km/2mi from Serra Park. This excludes planes that are flying north of 85, which is SFO traffic.</li>
	<li> The elevation needs to be below 9000ft.</li>
	<li> It's NOT traffic from or to Moffett field.</li>
</ul>
<br/>
Notes:
<ul>
	<li> Flight number is added when it's known. However, Surf Air doesn't broadcast flight numbers. You can see that it's Surf Air by looking at the owner/operator</li>
	<li> Determining departure and arrival airport is not 100% reliable because the data feed is sometime inaccurate.</li>
	<li> For flights that start or end father than 100km from the Bay Area, we can't know the departure or the arrival airport. This may be fixed eventually, but it will take a while.</li>
	<li> Due to the small search radius of 2mi, there will be planes that don't show up for Serra Park, even if though they create a nuisance for neighborhoods further north. This
		is an important feature: it doesn't make sense for a Serra Park resident to file a complaint for a flight that was never close enough. Soon there will be flight lists that are
		customized per user, by entering home address. Stay Tuned!</li>
</ul>

<%= link_to("Flights for #{ prev_day.strftime("%F") }", "/plane_list/#{prev_day.year}/#{prev_day.month}/#{prev_day.day}") %>
<%= link_to("Flights for #{ next_day.strftime("%F") }", "/plane_list/#{next_day.year}/#{next_day.month}/#{next_day.day}") %>

<br/>
<br/>
<%= @todays_planes.size %> flights:
<br/>
<br/>

<table>
	<tr>
		<th> Date </th>
		<th> Flight No. </th>
		<th> Plane Type </th>
		<th> From </th>
		<th> To </th>
		<th> Speed (kts) </th>
		<th> Altitude (ft) </th>
		<th> Comment </th>
		<th> City </th>
		<th> Neighborhood </th>
		<th> Airline or Owner </th>
		<th> Registration </th>
		<th> All Visited Airports </th>
	</tr>
	<% @todays_planes.each_with_index do |p, cntr| %>
		<tr>
			<td> 
				<%= p[:time].strftime "%m/%d/%Y %I:%M %p" %> 
			</td>
			<td> 
				<%= p[:flight] %> 
			</td>
			<td>
				<%= p[:plane].plane_type %> 
			</td>
			<td>
				<%= p[:from_airport] %> 
			</td>
			<td>
				<%= p[:to_airport] %> 
			</td>
			<td>
				<%= p[:speed] > 60 ? p[:speed] : "?" %> 
			</td>
			<td>
				<%= p[:alt] %> 
			</td>
			<td>
			</td>
			<td>
				Sunnyvale
			</td>
			<td>
				Serra Park
			</td>
			<td>
				<%= p[:airline][0..30] rescue nil %> 
			</td>
			<td>
				<%= p[:plane].registration %> 
			</td>
			<td>
				<%= p[:airports].join(",") %> 
			</td>
			<td>
				<%= link_to('Map', "/plane_map/#{p[:plane].id}") %>
			</td>
		</tr>
	<% end %>
</table>


<br>
Plane database last updated <%= time_ago_in_words(AdsbStatus.first.updated_at, include_seconds: true) %> ago.


