<h2>My Map</h2>

<div id="map" class="map"></div>
<script type="text/javascript">

      var style = {
        'Point': new ol.style.Style({
          image: new ol.style.Circle({
            fill: new ol.style.Fill({
              color: 'rgba(255,255,0,0.4)'
            }),
            radius: 3,
            stroke: new ol.style.Stroke({
              color: '#ff0',
              width: 1
            })
          })
        }),
        'LineString': new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#f00',
            width: 1
          })
        }),
        'MultiLineString': new ol.style.Style({
          stroke: new ol.style.Stroke({
            color: '#f00',
            width: 1
          })
        })
      };

    var vector = new ol.layer.Vector({
        source: new ol.source.Vector({
			url: '<%= @gpx_url %>',
          	format: new ol.format.GPX()
        }),
        style: function(feature) {
          	return style[feature.getGeometry().getType()];
       }
    });

	var map = new ol.Map({
   		target: 'map',
		layers: 
			[
   	   			new ol.layer.Tile({
           			source: new ol.source.OSM()
				}),
				vector
       		],
       	view: new ol.View({
			center: ol.proj.fromLonLat([<%= @center_lon %>, <%= @center_lat %>]),
       		zoom: 10
       	})
   	});

    var displayFeatureInfo = function(pixel) {
        var features = [];
        map.forEachFeatureAtPixel(pixel, function(feature) {
          	features.push(feature);
        });

        if (features.length > 0) {
          	var info = [];
          	var i, ii;
          	for (i = 0, ii = features.length; i < ii; ++i) {
            	info.push(features[i].get('name'));
          	}
			document.getElementById('info').innerHTML = info.join('<br/>') || '(unknown)';
          	map.getTarget().style.cursor = 'pointer';
        } else {
          	document.getElementById('info').innerHTML = '&nbsp;';
          	map.getTarget().style.cursor = '';
        }
    };

    map.on('pointermove', function(evt) {
   		if (evt.dragging) {
          	return;
        }
        var pixel = map.getEventPixel(evt.originalEvent);
        displayFeatureInfo(pixel);
    });

    map.on('click', function(evt) {
        displayFeatureInfo(evt.pixel);
    });

</script>

<div id="info"></div>


