<!DOCTYPE html>
<html>
  <head>
    <title>Planedb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.css" type="text/css">
    <style>
      .map {
        height: 1000px;
        width: 80%;
      }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ol3/3.20.1/ol.js" type="text/javascript"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
